.team,
.topwidget,
.footer,
.bottom-widget,
.path-frontpage .main-content,
.services,
.products,
.footer,
.features,
.services,
.price-table,
.copyright{
	padding: 20px 0;
}

.main-content{
	padding: 0 0 50px 0;
}

.top-block{
	background-image: url(../images/top-bg.png);
	max-width: 730px;
	margin: 0 auto;
	padding: 10px 30px;
	color: #fff;
	position: relative;
	overflow: hidden;
	@include border-radius(10px);
	@include box-shadow(10px 10px 53px -13px #d1cfd1);
	text-align: center;

	*{
		color: #fff;
	}

	.region{
		position: relative;
		z-index: 9;
	}

	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(43, 0, 255, 0.77);
	}
}

.team,
.features,
.products,
.price-table{
    background: #f6f6f6;
    text-align: center;
}


/* Testimonials */

.testimonials-wrap{
	background: #fafafa;
	border-top: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
	padding: 20px 0;
	text-align: center;
	font-size: 1em;
	line-height: 160%;
}

.region-testimonials{
	max-width: 600px;
	margin: 0 auto;
}

.testimonials-pic{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}

.testimonials-pic img{
	@include border-radius(50%);
}

.testimonials-author{
	padding: 0 5px;
	font-size: .75em;
	color: #555;
}

/*Price*/

.price-table{
	.card-header{
		border: 0;
    	padding: 20px 0;
	}

	ul li {
	    list-style: none;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
}

/*Front Page*/

.path-frontpage .feed-icon{
 	display: none;
}

/*team*/

.team{
	.team-list{
		.region{
			background: #efefef;
			overflow: hidden;
			padding: 10px;
			border: 1px solid #eaeaea;
		}
	}
}


/*Bottom Widgets*/

.bottom-widget{
	background: #fff;

	h2.title, *{
	  color: #7964ad;
	}

	.blck-img{
		margin: 0;
		@include transition(all .4s linear);
	}

	.blck-desc{
		margin: 0;
		display: none;
		@include transition(all .4s linear);
	}

	.block{
		overflow: hidden;
		position: relative;

		&:hover{
			.blck-img{
				transform: scale(1.2);
			}
			
			.blck-desc{
				margin: 0;
				display: block;
				background-color: rgba(0,0,254,0.5);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 30px;
				font-size: 1.5em;
				color: #fff;
			}
			
		}
	}

}

.path-frontpage .bottom-widgets{
	padding: 20px 0;
}

