
/*Flexslider*/

.flexslider {
	border: 0;
	max-width: 100%;
	margin: 0;
	overflow: hidden;
	
	.slider-caption{
		display: none;
	    position: absolute;
	    top: 20%;
	    left: 5%;
	    z-index: 99;
	    width: 35%;
	    text-align: left;
	    font-size: 1.2em;
	    line-height: 150%;
	    padding: 20px;
	    @include border-radius(5px);
	}

	.slider-title{
		font-size: 2em;
		font-weight: 200;
	}

	.slider-description{
		display: inline-block;
		clear: both;
	}

	.slides{
		
		li{
			position: relative;
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}

		a{
			font-size: 0;
    		padding: 10px;
			width: 60px;
			height: 60px;

    		&:before,
    		&:after{
    			color: #000;
    		}
		}
	}

	.flex-control-paging li a {
	    width: 15px;
	    height: 15px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    @include border-radius(50%);

	    &.flex-active{
			background: $linkColor;
	    }
	}

	.flex-control-nav{
		bottom: 0;
		left: 10px;
		text-align: left;
	}

}