
p { margin: 0 0 20px 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-family: $titleFontFamily;
  font-weight: 400; 
  margin: 10px 0;
  line-height: 140%;
}

h1, .h1{ font-size: 2em; }

h2, .h2{ font-size: 1.2em; margin-bottom: 20px; }

h3, .h3{ font-size: 1.1em; }

h4, .h4{ font-size: 1.1em; }

img { max-width: 100%; }

em{ font-style: italic; }

strong, b { font-weight: bold; }

h2.title,
#block-footer-menu{ 
  color: $linkColor;

  &:after{
    content: "";
    background: #00e398;
    width: 15%;
    height: 3px;
    display: block;
    top: 5px;
    position: relative;
  }

}

.custom-block-title{
  text-align: center;

  h2{
    font-size: 1.2em;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #e8e5e5;
    padding-bottom: 5px;
  }
}

.pricing-card-title{
  color: #008000;
}

a {
	color: $linkColor;
  
	&:hover{
  		color: $linkColorHover;
  		text-decoration: none;
	}
}

ol, ul {
	padding-left: 20px;
  margin-bottom: 20px;

  li{
    list-style: outside;
  }
}

.list-unstyled{
  li{
    list-style: none;
  }
}

ol li{
  list-style-type: decimal;
}

ul.links.inline{
	padding: 0;

	li{
 		list-style: none;
 	}
}

.form-email,
.form-text,
.form-textarea{
  border: 1px solid $borderColor;
  background: transparent;
}

.block{
  margin-bottom: 10px;
}